<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>896555974474-a2nocb2c2pmrdrhf6jj8869n62dj1a9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.896555974474-a2nocb2c2pmrdrhf6jj8869n62dj1a9l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>896555974474-0lctqnqt1mqhaiipsunl044jp46fddhd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARP4glyebEAGxXE2viVF-Hwmiu3dRn1mA</string>
	<key>GCM_SENDER_ID</key>
	<string>896555974474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tugasLayout.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nitrogapp-tubes</string>
	<key>STORAGE_BUCKET</key>
	<string>nitrogapp-tubes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:896555974474:ios:d116d92b0254f1e5140bb3</string>
</dict>
</plist>